
/* share style*/
body{
    font-family: 'Open Sans', sans-serif;
}
.main-color{
    color: #FD6E0A;
}

/* nav related*/
nav{
display: flex;
justify-content: space-between;
align-items: center;
margin: 0px 200px;
}
.nav-style{
    font-size: 40px;
}
nav > ul {
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px ;
}
nav a{
    text-decoration: none;
    color:black;
}
/* button style */
.main-button{
    background-color: #FD6E0A;
    color: white;
    border-radius: 5px;
    font-size: 45px;
    font-weight: 600;
    border: 0px;
    padding: 15px 35px;
}
/* Header style */
.header{
    background: #FFF8F3;
    padding: 30px 30px 0px 150px;
    background-image: url(./images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.profile{
    width: 400px;
    margin-right: 100px ;
}
.banner-giriti{
    font-size: 45px;
    color: #474747;
    margin-bottom: 0;
}
.banner-title{
    font-size: 85px;
    font-weight: 700;
}

/* main section */
.about{
    padding: 50px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 30px 30px 0px;

}
.section-title{
    color:#181818;
text-align: center;
font-size: 35px;
font-weight: 700;
}
.section-describ{
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
main{
    max-width: 1140px;
    margin: 0px auto;
}
main section{
margin-top:130px ;

}
.about-info-con{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
}
#id{
    padding: 30px 100px;
}
/* skill style */
.skill-con{
    display: flex; 
    gap: 24px;
}
.skill{
    padding: 30px;
    border-radius: 5px;
background: #e4dcdc;
box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);  
}
.skill-describ{
    color: #757575;
}
/* resume style */
.resume-title{
color:#474747;
font-size: 30px;
font-weight: 700;
}
